<div class="mt-8 w-full flex justify-start flex-col gap-5">
    <h1 class="text-4xl font-medium">Lekser du må gjøre</h1>
    <button (click)="ShowModal()" class="btn">Legg til</button>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Fag</th>
                <th>Innleveringsdato</th>
                <th>Beskrivelse</th>
                <th>Fullført</th>
            </tr>
        </thead>
    </table>
</div>
<dialog id="add-homework" class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">Legg til lekse</h3>
        <form>
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Fag</span>
                </label>
                <input type="text" placeholder="Skriv fag" class="input input-bordered" required />
            </div>

            <div class="form-control mt-4">
                <label class="label">
                    <span class="label-text">Innleveringsdato</span>
                </label>
                <input type="date" class="input input-bordered" required />
            </div>

            <div class="form-control mt-4">
                <label class="label">
                    <span class="label-text">Beskrivelse</span>
                </label>
                <textarea class="textarea textarea-bordered" placeholder="Beskrivelse" required></textarea>
            </div>

            <div class="form-control mt-6">
                <button class="btn btn-primary" type="submit">Legg til lekse</button>
            </div>
        </form>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>