<div class="mt-8 w-full flex justify-start flex-col gap-5">
    <h1 class="text-4xl font-medium">Lekser du må gjøre</h1>
    <button (click)="ShowModal()" class="btn">Legg til</button>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fag</th>
                <th>Innleveringsdato</th>
                <th>Beskrivelse</th>
                <th>Fullført</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let homework of homeworkList">
                <td>{{ homework.id }}</td>
                <td>{{ homework.fag }}</td>
                <td>{{ homework.innleveringsDato }}</td>
                <td>{{ homework.beskrivelse }}</td>
                <td (click)="finishHomework(homework.id)"><button class="btn btn-ghost btn-xs">Fullfør</button></td>
            </tr>
        </tbody>
    </table>
</div>
<dialog id="add-homework" class="modal">
    <div class="modal-box">
        <h3 class="text-lg font-bold">Legg til lekse</h3>
        <form [formGroup]="homeworkForm" (ngSubmit)="onSubmit()">
            <div class="form-control">
                <label class="label">
                    <span class="label-text">Fag</span>
                </label>
                <input type="text" formControlName="fag" placeholder="Skriv fag" class="input input-bordered"
                    required />
            </div>

            <div class="form-control mt-4">
                <label class="label">
                    <span class="label-text">Innleveringsdato</span>
                </label>
                <input type="date" formControlName="innleveringsdato" class="input input-bordered" required />
            </div>

            <div class="form-control mt-4">
                <label class="label">
                    <span class="label-text">Beskrivelse</span>
                </label>
                <textarea formControlName="beskrivelse" class="textarea textarea-bordered" placeholder="Beskrivelse"
                    required></textarea>
            </div>

            <div class="form-control mt-6">
                <button class="btn btn-primary" type="submit">Legg til lekse</button>
            </div>
        </form>
    </div>
    <form method="dialog" class="modal-backdrop">
        <button (click)="closeModal()">Close</button>
    </form>
</dialog>